<div class="pin {{#if disabled}}pin--disabled{{/if}}">
  <div class="pin-image">
    <img src="{{pinUrl}}" alt="Pin Image" class="pin-image" />
  </div>

  {{#if boards.length}}
    <select class="board-select">
      {{#each boards}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select>
  {{else}}
    <p>Доступных досок нет</p>
  {{/if}}

  <!-- Контейнер для кнопки "Сохранить на доску" -->
  <div class="save-pin-container"></div>

  <!-- Контейнер для иконки "Поделиться" -->
  <div class="share-pin-container"></div>

  <!-- Контейнер для иконки "Меню" -->
  <div class="menu-pin-container"></div>

  {{#if showText}}
    <p class="pin-text">Some description about the image.</p>
  {{/if}}

  {{#if userIcon}}
    <div class="user-icon">
      <img src="{{userIcon}}" alt="User Icon" />
    </div>
  {{/if}}
</div>
