<div class="input-container {{inputSize}} {{#if Error}}input-error{{/if}}">
  
  {{#if inputLabelText}}
    <label class="input__label">{{inputLabelText}}</label>
  {{/if}}

  <div class="input-icons-wrapper" style="position: relative;">
    {{#if inputImageLeft}}
      <span class="input__icon input__icon-left">
        {{{inputImageLeft}}} <!-- Вставка SVG-кода для левой иконки -->
      </span>
    {{/if}}

    <input 
      type="{{typeOfInput}}" 
      class="input {{#if inputImageLeft}} input__text-padding-left {{/if}} {{#if inputImageRight}} input__text-padding-right{{/if}}" 
      placeholder="{{inputPlaceholder}}" 
      value="{{inputValue}}"
      {{#if isDisabled}}disabled{{/if}} 
      oninput="this.dispatchEvent(new CustomEvent('input-change', { detail: this.value }))"/>

    {{#if inputImageRight}}
      <span class="input__icon input__icon-right">
        {{{inputImageRight}}} <!-- Вставка SVG-кода для правой иконки -->
      </span>
    {{/if}}
  </div>

  {{#if inputHelperText}}
    <div class="input__helper-text">{{inputHelperText}}</div>
  {{/if}}

</div>
